@charset "UTF-8";

.wrap {
  padding-top: 10px;
  max-width: 100%;
  margin: 0 auto;
  /*body尾巴*/
  /*回到頂部*/
}

.wrap .head {
  padding: 0 17%;
}

.wrap .head h1 {
  font-size: 45px;
  margin-bottom: 40px;
}

.wrap .head .list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.wrap .head .list li {
  width: 35%;
  padding: 12px 0;
  border: 5px solid transparent;
  border-left: 1px solid #000;
  /*透明的border線,滑鼠移過去，才不會整個畫面都在動*/
}

.wrap .head .list li a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-align: center;
}

.wrap .head .list li:hover {
  border-bottom: 5px solid #000;
}

.wrap .head .list .contact-btn-li {
  border-right: 1px solid #000;
}

.wrap .head label,
.wrap .head input {
  display: none;
}

@media (max-width: 767px) {
  .wrap .head {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
  }

  .wrap .head h1 {
    font-size: 40px;
  }

  .wrap .head label {
    display: block;
    cursor: pointer;
    height: 44px;
  }

  .wrap .head label .fa-bars {
    font-size: 45px;
  }

  .wrap .head .list {
    max-height: 0;
    overflow: hidden;
    transition: 1s;
    position: absolute;
    z-index: 100;
    top: 92px;
    right: 0;
    left: 0;
    flex-direction: column;
  }

  .wrap .head .list li {
    border-bottom: 1px solid white;
    background: #bababa;
    margin: 0 auto;
    width: 100%;
  }

  .wrap .head .list li:hover {
    border: none;
    background: white;
  }

  .wrap .head input:checked~.list {
    max-height: 200px;
  }
}

.wrap .body .about,
.wrap .body .skill,
.wrap .body .works,
.wrap .body .contact {
  display: flex;
  flex-direction: column;
  padding: 40px 17% 100px;
}

.wrap .body .about h2,
.wrap .body .skill h2,
.wrap .body .works h2,
.wrap .body .contact h2 {
  margin-bottom: 80px;
  border-bottom: 5px solid #000;
  width: 180px;
  font-size: 30px;
}

@media (max-width: 767px) {

  .wrap .body .about,
  .wrap .body .skill,
  .wrap .body .works,
  .wrap .body .contact {
    padding: 40px 6% 100px;
  }

  .wrap .body .about h2,
  .wrap .body .skill h2,
  .wrap .body .works h2,
  .wrap .body .contact h2 {
    font-size: 25px;
  }
}

.wrap .body .about {
  background: #eaeaea;
}

.wrap .body .about .about-content {
  display: flex;
}

.wrap .body .about .about-content p {
  max-width: 80%;
  display: block;
  font-size: 20px;
  text-indent: 40px;
  letter-spacing: 1px;
  line-height: 1.5;
}

.wrap .body .about .about-content img {
  max-width: 20%;
  height: 150px;
  margin-top: 50px;
}

@media (max-width: 767px) {
  .wrap .body .about .about-content {
    flex-direction: column;
  }

  .wrap .body .about .about-content p {
    max-width: 100%;
    font-size: 18px;
  }

  .wrap .body .about .about-content img {
    max-width: 120px;
    margin-top: 40px;
  }
}

.wrap .body .skill {
  background: #bababa;
}

.wrap .body .skill .skill-item {
  display: flex;
  justify-content: space-evenly;
}

.wrap .body .skill .skill-item span {
  border-left: 1px solid grey;
  padding-left: 10px;
  margin-right: 10px;
}

.wrap .body .skill .skill-item span h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  border: 5px solid #000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
}

.wrap .body .skill .skill-item span p {
  font-size: 20px;
  line-height: 1.5;
}

.wrap .body .skill .skill-item .style {
  padding-top: 150px;
}

.wrap .body .skill .skill-item .style02-1 {
  display: none;
}

@media (max-width: 767px) {
  .wrap .body .skill .skill-item {
    flex-direction: column;
  }

  .wrap .body .skill .skill-item span {
    padding-bottom: 65px;
  }

  .wrap .body .skill .skill-item span p {
    font-size: 18px;
  }

  .wrap .body .skill .skill-item .style {
    padding-top: 0;
  }

  .wrap .body .skill .skill-item .style02 {
    display: none;
  }

  .wrap .body .skill .skill-item .style02-1 {
    display: block;
    line-height: 1.5;
  }
}

.wrap .body .works {
  background: #eaeaea;
}

.wrap .body .works .works-item {
  display: flex;
  justify-content: space-evenly;
}

.wrap .body .works .works-item a {
  border: 20px solid transparent;
  background-size: contain;
  /*圖片原寬高比不變，會縮放完全顯示在容器中*/
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 18%;
  padding: 9% 0;
}

.wrap .body .works .works-item a:hover {
  border: 20px solid #ffffff;
}

.wrap .body .works .works-item .todolist {
  background-image: url(https://i.postimg.cc/KcwhZH87/2022-12-21-075408-modified.png);
}

.wrap .body .works .works-item .message {
  background-image: url(https://i.postimg.cc/3N4MXgnD/2022-12-21-074901-modified.png);
}

.wrap .body .works .works-item .charging {
  background-image: url(https://i.postimg.cc/DyGkmPS9/2022-12-21-075236-modified.png);
}

.wrap .body .works .works-item .restaurant {
  background-image: url(https://i.postimg.cc/XY0M5BFp/2022-12-21-075745-modified.png);
}

@media (max-width: 767px) {
  .wrap .body .works .works-item {
    flex-wrap: wrap;
    /*超出寬度換行*/
  }

  .wrap .body .works .works-item a {
    width: 40%;
    padding: 20% 0;
  }
}

@media (max-width: 375px) {
  .wrap .body .works .works-item a {
    width: 70%;
    padding: 35% 0;
  }
}

.wrap .body .contact img {
  display: block;
  max-width: 90%;
  height: 200px;
  border: 10px solid #d5d5d5;
  border-radius: 50%;
  margin: 0 auto 20px;
}

.wrap .body .contact h3,
.wrap .body .contact p {
  text-align: center;
  line-height: 29px;
}

.wrap .body .contact h3 {
  font-weight: bold;
  font-size: 25px;
}

.wrap .body .contact p {
  font-size: 22px;
  color: #696f83;
}

.wrap .body .contact p .fa-github {
  font-size: 45px;
  color: #696f83;
  padding-top: 10px;
}

.wrap .body .contact p .fa-github:hover {
  color: #303343;
}

@media (max-width: 767px) {
  .wrap .body .contact img {
    max-width: 90%;
    height: 200px;
  }

  .wrap .body .contact h3 {
    font-size: 20px;
  }

  .wrap .body .contact p {
    font-size: 18px;
  }

  .wrap .body .contact p .fa-github {
    font-size: 40px;
  }
}

.wrap .footer {
  background: #bababa;
  padding: 50px 0;
}

.wrap .footer p {
  text-align: center;
  font-size: 20px;
}

@media (max-width: 767px) {
  .wrap .footer p {
    font-size: 18px;
  }
}

.wrap .top {
  position: fixed;
  right: 0;
  bottom: 0;
  border-radius: 50% 0 0 50%;
  border: 2px solid #d5d5d5;
  background: white;
  display: none;
  width: 100px;
  height: 90px;
}

.wrap .top img {
  margin-left: 12px;
}

@media (max-width: 767px) {
  .wrap .top {
    width: 60px;
    height: 50px;
  }

  .wrap .top img {
    height: 80%;
    margin: 5px 0 0 15px;
  }
}

/*wrap尾巴*/